html, body {
    width: 100px;
    height: 100px;

}

* {
    margin: 0;
    padding: 0;
    border: borderbox;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    border: 5px solid;
    border-radius: 10px;
    box-shadow: 10px 5px 5px grey;
}

